<!-- application_list.html -->
{% extends 'user/base.html' %}

{% block content %}
    <div class="container">
        <h2 class="mb-4">{{ user|title }}'s Course Application List</h2>
        {% for application in applications %}
            <div class="card mb-4">
                <div class="card-body shadow-lg p-3 mb-2 bg-white rounded">
                    <h4 class="card-title">Course Name: {{ application.training.programme_name }}</h4>
                    {% if application.training.application_status == 'approved' %}
                        <h4>Status: <span class="badge badge-success">Approved</span></h4>
                    {% elif application.training.application_status == 'denied' %}
                        <h4>Status: <span class="badge badge-danger">Denied</span></h4>
                    {% else %}
                        <h4>Status: <span class="badge badge-primary">Pending Approval</span></h4>
                    {% endif %}
                    
                    {% if application.training.user == request.user.user %}
                        <a href="{% url 'user:application_detail' application.id %}" class="btn btn-sm btn-info">View Application</a>
                        <a href="{% url 'user:edit_application' application.training.id %}" class="btn btn-sm btn-primary">Edit Application</a>
                        <a href="{% url 'user:delete_application' application.training.id %}" class="btn btn-sm btn-danger">Delete Application</a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>No applications found.</p>
        {% endfor %}

        <a href="{% url 'user:course_application' %}" class="btn btn-primary">
            Add another application
        </a>
        <a href="{% url 'user:index' %}" class="btn btn-primary">
            Home
        </a>
    </div>
{% endblock %}
