{% extends 'user/base.html' %}
{% load humanize %}
{% block content %}

<div class="column">
    <section class="hero is-info">
        <div class="hero-body">
          <p class="title">
            All current employees
          </p>
          <p class="subtitle">
            Total active employees: {{ active_users_count }}
          </p>
        </div>
      </section>
{% for profile in profiles %}
    <div class="block">
      <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png"
                       alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">
                  {{ profile.username }}
                </p>
                <p class="subtitle is-6">
                  {{ profile.email|lower }}
                </p>
                {% if profile.annual_salary %}
                    <p class="subtitle is-6">
                        €{{ profile.annual_salary|intcomma }}
                    </p>
                {% else %}
                    <p class="subtitle is-6">
                        Salary not available
                    </p>
                {% endif %}
                <p class="subtitle is-6">
                  <a href="{% url 'user:generate_report' profile.id %}">Generate Report</a>
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      
    </div>
{% endfor %}
    <a href="{% url 'user:register' %}">
        <button class="mr-3 button is-small is-link">
            Register another user
        </button>
    </a>
    <a href="{% url 'user:index' %}">
        <button class="mr-3 button is-small is-link">
            Home
        </button>
    </a>
    <a href="{% url 'user:inactive_employees' %}">
        <button class="mr-3 button is-small is-link">
            View inactive employees
        </button>
    </a>
    <a href="{% url 'user:search_employee' %}">
      <button class="mr-3 button is-small is-link">
          Search employees
      </button>
  </a>
    
</div>


{% endblock content %}