{% extends 'user/base.html' %}

{% block content %}

<style>
  .custom-tile {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: center;
  }

  .custom-button {
    margin-top: 20px;
    font-weight: bold;
  }

  .custom-button:hover {
    background-color: #007bff;
    color: #fff;
  }
</style>

<section class="hero is-primary">
  <div class="hero-body">
    {% comment %} Admin specific urls {% endcomment %}
    {% if user.is_staff %}
        <div class="custom-tile">
            <a href="{% url 'user:register' %}" class="button is-link custom-button">
                Register user
            </a>
        </div>
        <div class="custom-tile">
            <a href="{% url 'user:employee_list' %}" class="button is-link custom-button">
                View Employees
            </a>
        </div>
        <div class="custom-tile">
            <a href="{% url 'user:employee_course_application_list' %}" class="button is-link custom-button">
                View employee course applications
            </a>
        </div>
    {% endif %}

    <div class="custom-tile">
        <a href="{% url 'user:course_application' %}" class="button is-link custom-button">
            Apply for a course
        </a>
    </div>
    <div class="custom-tile">
        <a href="{% url 'user:course_application_list' %}" class="button is-link custom-button" style="width: 6rem;">
            View your course applications
        </a>
    </div>
    <div class="custom-tile">
      <a href="{% url 'user:evaluation_list' %}" class="button is-link custom-button" style="width: 6rem;">
          View your course evaluations
          {% if courses > 0 %} <!-- Check if there are evaluations requiring attention -->
            <button type="button" class="btn btn-primary">
              <span class="badge badge-light">{{ courses }}</span>
            </button> <!-- Display the notification badge -->
          {% endif %}
      </a>
  </div>
  </div>

</section>
{% endblock %}
