{% extends 'user/base.html' %}

{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Reset your password
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="mr-3 button is-small is-link" type="submit">Reset Password</button>
    </form>
    <p class="subtitle">
      Return to login
    </p>
    <a href="{% url 'user:index' %}">
        <button class="mr-3 button is-small is-link">
            Login
        </button>
    </a>
  </div>
</section>
  
{% endblock %}
